body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.navbar-collapse.show {
    z-index: 1000; /* Set a higher z-index */
    background-color: #ebebeb; /* Set background color */
    padding: 10px; /* Add padding for better visibility */
  }
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius:1rem !important ;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effects */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-img{
    height: 38vh;

}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Map */
/* #map { 
    height: 400px; 
    width: 80vh;
} */
#map {
    height: 50vh; /* The height will be 50% of the viewport height */
    width: 80vw;  /* The width will be 80% of the viewport width */
    max-width: 100%; /* Ensure the width doesn't exceed the parent container */
    max-height: 100%; /* Ensure the height doesn't exceed the parent container */
    margin: 0 auto; /* Center the map horizontally */
}

/* Optional: Adjust map size on smaller screens */
@media (max-width: 600px) {
    #map {
        height: 40vh; /* Slightly taller on smaller screens */
        width: 90vw;  /* Slightly wider on smaller screens */
    }
}